.DS_Store

node_modules/
build/
dist/
target/
out/
.turbo/

.env.local
kubeconfig

infrastructure/machines/secrets.yaml
infrastructure/machines/patches/secrets.yaml

.svelte-kit/
.sark/
styled-system/
!packages/styled-system/

vite.config.ts.timestamp-*

*.img
*.iso
*.bin

.terraform
.terraform.lock.hcl
