LICENSE
pnpm-lock.yaml
docs/*
!docs/*.md
*.dart
*.rs
*.plist

apps/api/drizzle/*
apps/mobile/*
legacy/mobile/*
legacy/editor/benches/fixtures/**

**/build/**
**/vendor/**
**/pkg/**
Dockerfile

**/.dart_tool/**
**/.flutter-plugins/**
**/.flutter-plugins-dependencies/**
**/.pub-cache/**
**/.pub/**

**/src-tauri/**

**/*.enc.yaml
