LICENSE
pnpm-lock.yaml
docs/*
!docs/*.md
*.dart
*.rs
*.plist

apps/api/drizzle/*
apps/mobile/*

**/build/**
apps/desktop/release/**
**/vendor/**
**/pkg/**
**/.wrangler/**
Dockerfile

**/.dart_tool/**
**/.flutter-plugins/**
**/.flutter-plugins-dependencies/**
**/.pub-cache/**
**/.pub/**

**/*.enc.yaml
