.DS_Store
build/
.build/
DerivedData/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
Configuration/Config.local.xcconfig
Packages/*/.swiftpm/
node_modules/
**/fastlane/README.md
**/fastlane/report.xml
.tools/
**/__generated__/
Packages/Typie/Sources/GraphQL/*
!Packages/Typie/Sources/GraphQL/Schema/
Packages/Typie/Sources/GraphQL/Schema/*
!Packages/Typie/Sources/GraphQL/Schema/SchemaConfiguration.swift
!Packages/Typie/Sources/GraphQL/Schema/CustomScalars/
Packages/Typie/Sources/GraphQLMocks/*
!Packages/Typie/Sources/GraphQLMocks/GraphQLMocks.swift
Packages/Typie/Tests/EditorTests/Fixtures/
